<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<!-- See http://developer.apple.com/documentation/MacOSX/Conceptual/BPRuntimeConfig/Articles/ConfigFiles.html#//apple_ref/doc/uid/20002091
for more information on this file. -->

<!-- If the icon doesn't show up try rebuilding the LaunchServices database:
	cd ~/Library/Preferences/	
	rm LS*
	rm .LS*	
-->

<plist version="1.0">
<dict>
	<!-- Keys you will want to change. -->
	<key>CFBundleIdentifier</key>
	<string>cocoa3-sharp.examples.${APPNAME}</string>
	
	<!-- Keys you may want to change. -->
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	
	<key>CFBundleIconFile</key>
	<string></string>
	
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	
	<key>CFBundleIconFile</key>
	<string>AppIcon.icns</string>
	
	<key>LSMinimumSystemVersion</key>	<!-- note that mcocoa requires 10.5 -->
	<string>10.5.0</string>
	
	<!-- Keys that should not be changed. -->
	<key>CFBundleExecutable</key>
	<string>launcher</string>
	
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	
	<key>CFBundleName</key>
	<string>${APPNAME}</string>
	
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	
	<!-- This is what is shown to the user via the Finder's get info command. -->
	<key>CFBundleShortVersionString</key>	<!-- major.minor.maintenance -->
	<string>${VERSION}</string>
	
	<key>CFBundleSignature</key>
	<string>????</string>
	
	<key>CFBundleVersion</key>
	<string>${BUILDNUM}</string> 
	
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
